{
	"influxDB_server": "localhost",
	"influxDB_server_port": "8086",
	"influxDB_username": "root",
	"influxDB_password": "root",
	"influxDB_database": "openweather",
	"influxDB_activated": "true",
	"console_activated": "true",
	"refresh_timer": "10",
	"openweathermap_url": "http://api.openweathermap.org/data/2.5/weather?units=metric",
	"openweathermap_cityID": "&id=2800063",
	"openweathermap_APPID": "&APPID=1111111",
	"log_level": 1
}
